<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>感謝日誌</title>
</head>
<body>
<h1>感謝日誌</h1>

<form th:action="@{/gratitude/{id}/edit(id=${id})}" method="post" th:object="${req}">
  <div>
    <label>タイトル</label><br/>
    <label>
      <input th:field="*{title}" required maxlength="200"/>
      <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    </label>
  </div>

  <div style="margin-top:10px;">
    <label>内容</label><br/>
    <label>
      <textarea th:field="*{content}" required rows="10" cols="60"></textarea>
      <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
    </label>
  </div>

  <div style="margin-top:10px;">
    <button type="submit">保存</button>
  </div>
</form>
</body>
</html>
