<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gratitude.gratitude_log.repository.GratitudeLogMapper">
    <insert id="insert" parameterType="gratitude.domain.GratitudeLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gratitude_log(title, content)
        VALUES(#{title}, #{content})
    </insert>

    <select id="selectAll" parameterType="gratitude.domain.GratitudeLog">
        SELECT id, title, "content", created_at
        FROM gratitude_log
        ORDER BY id DESC
    </select>

    <select id="findForEdit" parameterType="long" resultType="gratitude.gratitude_log.dto.GratitudeLogEditRequest">
        SELECT title, "content"
        FROM gratitude_log
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE gratitude_log
        SET title = #{title},
            "content" = #{content}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM gratitude_log
        WHERE id = #{id}
    </delete>

    <select id="findAll" parameterType="gratitude.gratitude_log.dto.GratitudeLogSearchCond" resultType="gratitude.domain.GratitudeLog">
        SELECT id, title, "content", created_at
        FROM gratitude_log

        <!-- 検索キーワードがある場合 -->
        <where>
            <if test="keyword != null and keyword != ''">
                (title ILIKE '%' || #{keyword} || '%'
                OR "content" ILIKE '%' || #{keyword} || '%')
            </if>
        </where>

        <!-- 整列条件 -->
        <choose>
            <when test="sort == 'oldest'">
                ORDER BY created_at ASC
            </when>
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>
    </select>
</mapper>