<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gratitude.gratitude_log.repository.GratitudeLogMapper">

    <insert id="insert" parameterType="GratitudeLog" useGeneratedKeys="true" keyProperty="id">
        insert into gratitude_log(title, content) values(#{title}, #{content})
    </insert>

</mapper>